.git
__pycache__
*.pyc
*.pyo
.firebase
functions
node_modules
public
download.mp4
download_landmarks.json
uv.lock
pyproject.toml
README.md
ARCHITECTURE.md
test_upload.py
main.py
deepfake_detection.py
cors.json
storage.rules
firebase.json
.firebaserc
*.local
